[submodule "Ntreev.Library"]
	path = Ntreev.Library
	url = ../../s2quake/Ntreev.Library.git
[submodule "Ntreev.ModernUI.Framework"]
	path = Ntreev.ModernUI.Framework
	url = ../../s2quake/Ntreev.ModernUI.Framework.git
[submodule "Ntreev.Library.Commands"]
	path = Ntreev.Library.Commands
	url = ../../s2quake/CommandLineParser.git
