[submodule "Ntreev.Library"]
	path = Ntreev.Library
	url = https://github.com/s2quake/Ntreev.Library.git
[submodule "Ntreev.Library.Commands.git"]
	path = Ntreev.Library.Commands.git
	url = https://github.com/s2quake/CommandLineParser.git
[submodule "Ntreev.ModernUI.Framework"]
	path = Ntreev.ModernUI.Framework
	url = https://github.com/s2quake/Ntreev.ModernUI.Framework.git
